.headerContainer {
	/* float: left; */
	width: 100%;
}

.mainHeader {
	z-index: 9999;
	padding-top: 0em;
	padding-bottom: 0em;
	text-align: center;
	align-items: center;
	background-color: rgba(44, 43, 43, 0.99);
	will-change: transform;
}

.mainHeader:before {
	z-index: 0;
		content: '';
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#28384277,#13234267);
	opacity: .90; 
}

.aboutDescriptionText {
	font-size: 14px;
	margin-top: -.1em;
	margin-bottom: -1em;
	/* margin-left: 0.2em; */
	text-align: center;
}

.versionDescriptionText {
	margin-top: -.3em;
	margin-bottom: -0.9em;
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
}

.creditsText {
	margin-top: 0em;
	margin-left: -0.7em;
	margin-bottom: 0em;
	line-height: 1.5em;
	font-size: 0.9em;
    color: lightgray;
	text-align: center;
}

.copyrightText{
	color: gray;
	left: -1.2em;
	position: relative;
	font-size: 0.7em !important;
	bottom: -3.2em;
	margin-top: 0.5em;
	
}

.configSettings {
	margin-left: 6em;
	/* width: 15em; */
	/* margin-right: -2em; */
	margin-bottom: -3em;
	margin-top: -1.5em;
}

.synthSelector {
	font-size: 1.1em;
	padding-left: 0.6em;
}

.configChordPlayBtn {
	margin-left: 4em;

}

.chordPlayIcon {
	/* margin-top: -2.9em;
	margin-left: -4.4em; */
	/* height: 4.8em; */
	color: grey;
}

.chordPlayIcon:hover {
	color:#007bff;
	cursor: pointer;
}

.chordPlayIcon:active {
	color:#0253aa;
	cursor: pointer;
}

.footNav {
	background-color: rgb(44, 43, 43);
	height: 2.5em;
}

.footNavText {
	font-size: 0.75em;
}

.footNavAbout {
	font-size: 0.75em;
	margin-left: 2em;
}

.footNavCog {
	margin-left: 1.6em;
	margin-top: 0.15em;
	height: 1em;
	color: grey;
}

.footNavVersion {
	font-size: 0.75em;
	margin-left: 0em;
}

.progressionEditIcon {
	margin-left: 0.5em;
	margin-top: 0.15em;
	height: 1.2em;
	color: grey;
	cursor: pointer;
}

.progressionEditIcon:hover {
	color: rgb(112, 112, 112);
}

.gitSrc {
	height: 1.2em;
	margin-bottom: .2em;
	margin-right: .3em;
	margin-left: .4m;
}

.aboutFeatureText {
	font-size: 14px;
	margin-left: 2.2em;
}

.mainContainer {
	
	position:relative;
	display: inline-block;
	padding-left:2em;
	width: 100%;
	padding-top: 8em;
	margin-top: 0em;
	bottom: auto;
	overflow: auto;
}

.modal-open { 
	overflow-y: auto !important;
	overflow-x: auto !important;
	margin-right: -0em !important;
	padding-right: -0em !important;
	z-index: 1000;
}

.modal {
	z-index: 1000;
}

body.modal-open {
    padding-right: 0px !important;
}

.navbar {
    padding-right: 16px !important;
}
.verHeader {
	font-size: 0.9em;
	font-weight: 600;
	position: relative;
	padding-right:1em;
	overflow: hidden;
	margin-left: 0.7em;
	margin-bottom: 0.3em;
}

.modal-header {
	border-bottom: 1px solid #969a9e;
}

.verHeader:after {
    content:"";
    display: inline-block;
    height: 0.7em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.438);
}
 
.verDate {
	font-size: 0.9em;
	font-weight: 400;
}

.verItem {
	display: list-item;          
    list-style-type: circle;      
    list-style-position: inside;
	margin-left: 3.3em;
	padding-left: 1em;
    text-indent: -1.4em;
	font-size: 0.85em;
}

.modal-header {
	border-bottom-color: rgb(142, 140, 140) !important;
}

.modalLine {
	border-top: 1px solid #969a9e;
	margin: 2em -1em;
}

.modal-content {
	padding: 0.5em 1em 1em 1em;
 	/* background: rgb(44, 43, 43); */
	 
	 background: rgba(47, 49, 49, 0.99) !important;
	 color: rgb(214, 214, 214);
	 box-shadow: 4px 8px 4px rgba(16, 19, 26, 0.404) !important;
}

.modalText {
	color:#90c0ec !important
}

.modalHeader {
	height: 3.2em;
}

.modalHeader .close {
	margin-top: -1.1em !important;
	margin-right: -1em !important;
}

.verModalBody {
	margin-bottom: 0.5em;
}

.modalText:hover {
	color:#6ca4da !important
}

/* .modal-backdrop {
    z-index: 9999 !important;
  } */
  
.modal-header .close {
	color: white;	
}

.modal-header .close:hover {
	color: white;	
}

.footNavAbout:hover,
.footNavCog:hover,
.footNavVersion:hover,
.gitSrc:hover {
	opacity: 0.5 !important;
	cursor: pointer;
}


.footNavCog:hover {
    -webkit-animation: spin 900ms none normal;
    animation: spin 900ms none normal;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(59deg);
        transform: rotate(59deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(59deg);
        transform: rotate(59deg);
    }
}

.chord-btn {
	display: inline-block;
	margin: 1em 1em;
	z-index: 110;
}

.buttonContainer {
	
	
	justify-content: center !important;
	text-align: center;
	margin-top: 0em;
}

.progression {
	/* display: flex; */
	margin-top: 0em;
	margin-bottom: 0em;
	justify-content: center;
	border: 20 20 20 20;
	border-style: ridge;
	border-color: rgb(40, 70, 109);
	background-color: rgb(44, 43, 43);
	will-change: transform;
	/* background-color:black; */

	/* background-color: rgb(25, 88, 72); */
	/* padding: 0 0 1em 0; */
}

.pianoBoard {
	will-change: transform;
	will-change: transform;
	position: relative;
	margin-top: 0em;
	/* padding-top: 4em; */
	margin-bottom: 5em;
}

.pianoBoardGutter{
	height: 100vh;
}

.titleText {
	vertical-align: middle;
	position:absolute;
	right: 2em;
	margin-top: 0.1em;
	margin-left: 1.5em;
	font-size: 1.1em;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #061929,
	0 3px 0 rgb(62, 125, 184);
}

.titleText:hover {
	color: rgb(238, 238, 238);
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #061929,
	0 4px 0 rgb(62, 125, 184);
}

.chordListItem{
	color: white;
	display: inline-block;
	text-align: center;
	padding-right: 0.3em;
	margin-left: 0.1em;
	margin-right: -0.1em;
}

.chordItem {
	background: transparent;
	background-color: transparent;
	z-index: 9999;
}

.chordListItem:hover {
	cursor: pointer;
	text-decoration: none !important;
	color: white;
}

@media(hover: hover) and (pointer: fine) {
	.chordListItem:hover {
		cursor: pointer;
		text-decoration: none !important;
		text-underline-offset: 7.2px;
		transition: 0.1s ease-in;
		border-color: var(--main-selected-color);
		color: rgb(137, 175, 206);
	}
}

.chordListItem:active {
	color: var(--main-selected-color);
}

.progression a {
	
	border: solid 0px transparent;
	border-bottom-width: 2px;
	height: 1.8em;
}

.progression .active{
	/* background: rgba(38, 115, 179, 0.3) !important; */
	border-style: solid;
	border-color: var(--main-selected-color);
}