.headerContainer {
	float: left;
	width: 100%;
}

.mainHeader {
	width: 100%;
	min-width: 100%;
	padding-right: 1px;
	padding-left: 1px;
	background-color: rgb(44, 43, 43);
	z-index: 9999;
	position: sticky !important;
	top: 0em;
	height: auto;
	text-align: center;
	align-items: center;
	min-width: 100% !important;
	background-color: rgb(44, 43, 43);
	
}

.footNav {
	background-color: rgb(44, 43, 43);
	height: 2.5em;
}

.footNavText {
	font-size: 0.75em;
}

.gitSrc {
	height: 1.2em;
	margin-bottom: .15em;
}

.gitSrc:hover {
	opacity: 50%;
}

.add-chord-btn {
	top: -2em;
	margin-bottom: -1em;
	position: relative;
}

.progression {
	display: flex;
	justify-content: center;
	padding: 0 0 1em 0;
}

.pianoBoard {

	padding-top: 0em;
	margin-bottom: 5em;
}

.pianoBoardGutter{
	height: 100vh;
}

.chordListItem{
	color: white;
}

.chordItem {
	background: transparent;
	background-color: transparent;
	z-index: 9999;
}

.titleText {
	margin-bottom: -0.1em;
	font-size: 2em;
	font-weight: 700;
	color: white;
	/* text-shadow: 5px 5px 0px #2b95eb; */
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #517491,
	0 3px 0 rgb(40, 124, 78),
	0 4px 0 rgb(103, 149, 187),
	0 5px 0 rgb(117, 142, 179),
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
.chordListItem:hover {
	/* text-shadow: 
		0 2px 0 #5ab8ff,
		0 3px 0 rgb(40, 124, 78); */
	/* font-weight: 400; */
	cursor: pointer;
	text-decoration: underline !important;
	text-underline-offset: 3px;
	/* text-underline-position: 20px 2px; */
	/* text-shadow: 0 1px 0 rgb(124, 122, 216),
	0 2px 0 #2384ce; */
	transition: 0.1s ease-in;
	color: rgb(137, 175, 206);
}

.chordListItem:active {
	color: rgb(38, 115, 179);

}

  
