.headerContainer {
	/* float: left; */
	width: 100%;
}

.mainHeader {
	/* width: 100%;
	min-width: 100%; */
	/* padding-right: 1px;
	padding-left: 1px; */
	z-index: 9999;
	/* position: sticky !important; */
	/* top: 0em; */
	/* height: auto; */
	padding-top: 0em;
	padding-bottom: 1em;
	text-align: center;
	align-items: center;
	/* min-width: 100% !important; */
	background-color: rgb(44, 43, 43);
	
}

.aboutDescriptionText {
	margin-top: 1em;
	text-align: center;
}

.creditsText {
	margin-top: 1.1em;
	line-height: 1.8em;
	text-align: center;
}



.footNav {
	background-color: rgb(44, 43, 43);
	height: 2.5em;
}

.footNavText {
	font-size: 0.75em;
}

.footNavAbout {
	font-size: 0.75em;
	margin-left: 1em;
}


.gitSrc {
	height: 1.2em;
	margin-bottom: .15em;
}

.aboutFeatureText {
	margin-left: 1.4em;
}

.mainContainer {
	position:relative;
	padding-left:2em;
	
	padding-top: 5em;
	/* margin-top: 0 !important;
	margin-bottom: 0 !important; */
	/* height: 100%;
	width: 100%; */
	margin-top: 0em;
	bottom: auto;
	/* margin-bottom: 2.4em !important; */
	/* top: 7.3em !important; */
	overflow: auto;
	/* margin-left: auto !important;
	margin-right: auto !important;
	overflow-y: scroll !important;
	overflow-x: scroll !important; */
	/* align-items: center; */
	/* bottom: 2.4em !important; */

}

/* 
body {
	overflow:hidden;
} */



.modal-open { 
	overflow-y: auto !important;
	overflow-x: auto !important;
	margin-right: -0em !important;
	padding-right: -0em !important;
	z-index: 9999;
}

.modal {
	z-index: 10000;
}


.modal-content {
	padding: 0.8em 2em 2em 2em;
 	/* background: rgb(44, 43, 43); */
	 
	 background: rgb(52, 59, 55);
	 color: white;
	 box-shadow: 4px 8px 4px rgba(16, 19, 26, 0.404) !important;
}

.modalText {
	color:#80c0fc !important
}


.modalText:hover {
	color:#6ca4da !important
}

.modal-backdrop {
    z-index: 9999 !important;
  }
  
.modal-header .close {
	color: white;
}

.footNavAbout:hover,
.gitSrc:hover {
	opacity: 50%;
	cursor: pointer;
}

.add-chord-btn {
	margin-top:0em !important;
	/* display: flex; */
	display: inline-block;
	margin: 0 2em;
	/* position: relative; */
}

.buttonContainer {
	justify-content: center !important;
	text-align: center;
}

.progression {
	/* display: flex; */
	margin: 0em;
	justify-content: center;
	/* padding: 0 0 1em 0; */
}

.pianoBoard {

	/* padding-top: 4em; */
	margin-bottom: 5em;
}

.pianoBoardGutter{
	height: 100vh;
}

.chordListItem{
	color: white;
}

.chordItem {
	background: transparent;
	background-color: transparent;
	z-index: 9999;
}

.titleText {
	margin-top: 0.2em;
	margin-left: 1em;
	font-size: 1.1em;
	font-weight: 400;
	color: white;

	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #061929,
	0 3px 0 rgb(40, 124, 78);;
}
.chordListItem:hover {
	/* text-shadow: 
		0 2px 0 #5ab8ff,
		0 3px 0 rgb(40, 124, 78); */
	/* font-weight: 400; */
	cursor: pointer;
	text-decoration: underline !important;
	text-underline-offset: 3px;
	/* text-underline-position: 20px 2px; */
	/* text-shadow: 0 1px 0 rgb(124, 122, 216),
	0 2px 0 #2384ce; */
	transition: 0.1s ease-in;
	color: rgb(137, 175, 206);
}

.chordListItem:active {
	color: rgb(38, 115, 179);

}

  
