html {
	box-sizing: border-box;
	font-family: "Arial";
}

/**
     * Make all elements from the DOM inherit from the parent box-sizing
     * Since `*` has a specificity of 0, it does not override the `html` value
     * making all elements inheriting from the root box-sizing value
     * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
     */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #222121;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.chordInputSelection {
	width: 6.2em;
	height: 54px;
	margin-left: 0em;	
}

.keySelection {
	margin-top: 0.3em;
	margin-bottom: 0.0em;
}


.slashCheckBox {
	left: 0.3em;
	font-size: 0.8em;
	display: block;
}

.slashSelection {
	position: relative;
	margin-top: 2.1em;
	right: 0.8em;
	width: 100%;
	display: flex;
}

.slashChordSelection {
	position: relative;
	display: inline-block;
	margin-left: 1.5em !important;
	margin-top: 0em;
	width: 4.2em;
	height: 54px;

}

.slashSymbol {
	position: relative;
	display: inline-block;
	top: -0.1em;
	margin-left: 0.7em;
	margin-right: -0.4em;
	font-size: 1.8em;
	font-weight: 700;
}

.slashSymbol[display-option="false"],
.slashChordSelection[display-option="false"] {
	/* display: none; */
	visibility: hidden !important;
}

.typeSelection{
	margin-top: 0.0em;
	margin-bottom: 0.1em;
}

.pianoChordBox {
	top: 0em;
	height: 12em;
}

.selectorBox {
	border-color: var(--gray-lighter);
	font-weight: bold;
	font-size: 20px;
	height:38px;
	padding-top: 0.15em;
}

.chordInputForm {
	top: 0em;
	margin-top: 0em;
	position: relative;
	width: 7em;
	color: white;
}
:root {
    --main-compononent-gray: rgb(80, 79, 79);
	--main-selected-color: #007bff;
		/* rgb(63, 65, 68); */
}

.pianoContainer {
	position: absolute;
	display: flex;
	top: 0em;
	right: 0em;
	left: 6.5em;
	height: 11.5em;
	vertical-align: center;

}


.pianoBox {
	position: absolute;
	display: inline-block;
	margin-top: 0em;
	margin-left: 2.7em;
	height: 100%;
	width: 42em;
	color: rgb(133, 133, 133);
	/* border: 0.1em solid; */

	border-radius: 0.3em;
	/* left: 150px; */
	box-shadow: 1px 2px #888888;
	border-radius: 0.3em;
	
	background: var(--main-compononent-gray);
	box-shadow: 3px 6px 3px rgba(16, 19, 26, 0.404) !important;
}

@media only screen 
and (min-device-width : 981px) {

	
	.pianoBox {
		margin-left: 2.9em;
	}
}

@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 630px)
{

	.contentBox {
		margin-top: -1em !important;
	}

	.mainContainer {

	}
	
	.btn-main {
		margin-top: 0.5em !important;
		margin-bottom: 0.5em !important;
	}

}

.pianoCloseButton {
	visibility: visible !important;
}

.pianoCloseButtonMobile {
	visibility: hidden !important;
}



/* Mobile */
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 560px)
and (orientation : portrait) {

	.chordPiano {
		height: 17em;
	}
	
	.slashSelectorBox {
		width: 105% !important;
	}
	
	.pianoBox {
		zoom: 0.7;
		-moz-transform: scale(0.7);
		max-width: 41em !important;
		left: -11.5em;
		margin-top: 9.5em;
		height: 11.2em;
		margin-left: 0em;
		margin-right: 0em !important;
		display: flex !important;
		width: 136vw ; 
		width: calc(var(--vw, 1vw) * 136) ;
		overflow-x: auto;
		overflow-y: hidden;
		padding-top: 0em;
		padding-bottom: 0em;
		padding-left: 2em !important;
		padding-right: 2em !important;
		white-space: nowrap;
	}

	.white:last-child {
		margin-right: 0em;
	}

	.set {
		top: 0.1em !important;
		padding: 0em !important;
		padding-left: 0em;
		left: -1.8em !important;
		margin-right: -2em !important;
		margin-top: 0em !important;
		margin-top: 1em !important;
	}

	.keyCheckBox {
		top: -8.5em;
		left: 9em;
		z-index: 9999;
	}

	.slashCheckBox {
		top: -6.5em;
		left: 5.4em;
		z-index: 9999;
	}

	.piano-play-button {
		height: 5.9em !important;
		left: -8em !important;
	}

	.slashSymbol {
		top: -3.2em !important;
		left: 3.7em;
	}

	.slashChordSelection {
		top: -5.5em;
		left: 6.7em;
		z-index: 9999;
	}

	.chordInputForm {
		left: 1em !important;
	}
	
	.pianoCloseButton {
		visibility: hidden !important;
	}

	.closeContainer {
		width: 100%;
	}
	
	.pianoCloseButtonMobile {
		visibility: visible !important;	
		text-shadow: 0 1px 0 rgb(133, 133, 133);
		margin-right: 0em !important;
		top: 0em;
		right: 0.5em;
		position: relative;		
		zoom: 0.7;
		width: 2.2em;
		height: 2.2em;
		opacity: 1.0 !important;
		z-index: 99999 !important;
		color: rgb(133, 133, 133) !important;
		background: rgb(80, 79, 79) !important;
		padding-bottom: 0.5em !important;		
		padding-right: 0.0em !important;
		border: 0.1em solid !important;
		border-radius: 0.3em;
		outline: none !important;
		box-shadow: 
		-1px -1px 2px  var(--main-compononent-gray) inset,
		0 -5px 2px 3px rgba(46, 45, 45, 0.6) inset, 
		3px 6px 3px rgba(16, 19, 26, 0.404);

	}

	.mobileClosedBtnText {
		color: rgb(194, 138, 149) !important;
		font-size: 1em;
		font-weight: 350 !important;
	}

	.pianoCloseButtonMobile:active {
		color: rgb(139, 86, 97) !important;
		background: linear-gradient(45deg, #222 0%, rgb(75, 78, 82) 100%) !important;
		box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
			0 -5px 2px 3px rgba(46, 45, 45, 0.6) inset, 
			0 2px 4px rgba(0, 0, 0, 0.5) !important;
	}	
}   

@media only screen 
and (min-device-width : 500px) 
and (max-device-width : 560px)
and (orientation : portrait) {

	.set {
		top: 0.1em !important;
		padding: 0em !important;
		padding-left: 0em;
		left: -1.8em !important;
		margin-right: -2em !important;
		margin-top: 0em !important;
		margin-top: 1em !important;
	}

	.pianoBox {
		zoom: 0.80;
		-moz-transform: scale(0.80);
		left: -10em;
		top: -1em;
		width: 120vw !important;
		
	}
}

/* Mobile */
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 300px)
and (orientation : portrait) {

	.chord-btn {
		margin-right: 0em !important;
	}
	.buttonContainer {
		margin-left: -2.5em !important;
	}
}

/* iPhone X */
@media only screen 
and (device-width : 375px)
and (orientation : portrait) {

	.pianoBox {
		width: 32em;
	}
}

/* iPhone 6/7/8 Plus */
@media only screen 
and (device-width : 414px)
and (orientation : portrait) {

	.pianoBox {
		width: 35.5em;
	}
}

/* iPhone 5/SE */
@media only screen 
and (device-width : 320px)
and (orientation : portrait) {

	.pianoBox {
		width: 27.4em;
	}
}

.keyCheckBox {
	text-align: left;	
	font-size: 0.8em;
}

.chordCheckBox label {
	margin-top: -0.2em !important;
	position: absolute;
}

.contentBox {
	margin-top: 0em;
	position: relative;
}


.chordPiano :first-child {
	margin-top: 0;
}

.chordPiano {
	margin-top: 0em;
	position: relative;
	padding-top: 2em;
	will-change: transform;
	
}

.footNavAbout:hover,
.gitSrc:hover {
	opacity: 0.5 !important;
	cursor: pointer;
}