html {
	box-sizing: border-box;
	font-family: "Arial";
}

/**
     * Make all elements from the DOM inherit from the parent box-sizing
     * Since `*` has a specificity of 0, it does not override the `html` value
     * making all elements inheriting from the root box-sizing value
     * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
     */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #222121;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.chordInputSelection {
	width: 6.2em;
	height: 54px;
	margin-left: 0em;	
}

.keySelection {
	margin-top: 0.3em;
	margin-bottom: 0.0em;
}


.slashCheckBox {
	left: 0.3em;
	font-size: 0.8em;
	display: block;
}

.slashSelection {
	position: relative;
	margin-top: 2.1em;
	right: 0.8em;
	width: 100%;
	display: flex;
}

.slashChordSelection {
	position: relative;
	display: inline-block;
	margin-left: 1.5em !important;
	margin-top: 0em;
	width: 4.2em;
	height: 54px;

}

.slashSymbol {
	position: relative;
	display: inline-block;
	top: -0.1em;
	margin-left: 0.7em;
	margin-right: -0.4em;
	font-size: 1.8em;
	font-weight: 700;
}

.slashSymbol[display-option="false"],
.slashChordSelection[display-option="false"] {
	/* display: none; */
	visibility: hidden !important;
}

.typeSelection{
	margin-top: 0.0em;
	margin-bottom: 0.1em;
}

.pianoChordBox {
	top: 0em;
	height: 14em;
}

.selectorBox {
	border-color: var(--gray-lighter);
	font-weight: bold;
	font-size: 20px;
	height:38px;
	padding-top: 0.15em;
}

.chordInputForm {
	top: 0em;
	margin-top: 0em;
	position: relative;
	width: 7em;
	color: white;
}
:root {
    --main-compononent-gray: rgb(80, 79, 79);
	
	/* rgb(63, 65, 68); */
}

.pianoContainer {
	position: absolute;
	display: flex;
	top: 0em;
	right: 0em;
	left: 6.5em;
	height: 11.5em;
	vertical-align: center;

}


.pianoBox {
	position: absolute;
	display: inline-block;
	margin-top: 0em;
	margin-left: 2.7em;
	height: 100%;
	width: 42em;
	color: rgb(133, 133, 133);
	/* border: 0.1em solid; */

	border-radius: 0.3em;
	/* left: 150px; */
	box-shadow: 1px 2px #888888;
	border-radius: 0.3em;
	
	background: var(--main-compononent-gray);
	box-shadow: 3px 6px 3px rgba(16, 19, 26, 0.404) !important;
}

@media only screen 
and (min-device-width : 981px) {

	.pianoBox {
		margin-left: 2.9em;
	}
}

/* Mobile */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 830px) {

	/* .pianoBox {
		zoom: 0.7;
		-moz-transform: scale(0.7);
		left: 13.4em;
		margin-top: -12.5em;
	} */

	/* .chordPiano {
		height: 10.8em;
		top: -1em;
	} */
}   


.keyCheckBox {
	text-align: left;	
	font-size: 0.8em;
}



.chordCheckBox label {
	margin-top: -0.2em !important;
	position: absolute;
}

.contentBox {
	margin-top: 0em;
	position: relative;
}


.chordPiano :first-child {
	margin-top: 0;
}

.chordPiano {
	margin-top: 0em;
	position: relative;
	display: flex;
	
}
